.shelter-popup--fix-scroll {
  overflow: hidden;
}

.shelter-popup__blackout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
}

.shelter-popup__section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.shelter-popup__container {
  position: relative;
  margin: auto;
  padding: 52px 30px;
}

.shelter-popup__button-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.shelter-popup__pet-card {
  display: flex;
  gap: 29px;
  width: 900px;
  height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
}

@media screen and (max-width: 1279px) {
  .shelter-popup__pet-card {
    width: 650px;
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .shelter-popup__pet-card {
    width: 240px;
    height: 341px;
  }
}

.shelter-popup__pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.shelter-popup__pet-image {
  display: block;
}

@media screen and (max-width: 767px) {
  .shelter-popup__pet-image {
    display: none;
  }
}

.shelter-popup__pet-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 20px 88px 0;
}

@media screen and (max-width: 1279px) {
  .shelter-popup__pet-description {
    margin: 10px 9px 37px 0;
  }
}

@media screen and (max-width: 767px) {
  .shelter-popup__pet-description {
    margin: 10px;
    align-items: center;
  }
}

.shelter-popup__pet-name {
  margin: 0 0 10px 0;
  color: #000000;
}

.shelter-popup__pet-breed {
  margin: 0 0 40px 0;
  color: #000000;
}

@media screen and (max-width: 1279px) {
  .shelter-popup__pet-breed {
    margin-bottom: 20px;
  }
}

.shelter-popup__pet-history {
  margin: 0 0 40px 0;
  color: #000000;
}

@media screen and (max-width: 1279px) {
  .shelter-popup__pet-history {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .shelter-popup__pet-history {
    text-align: justify;
    margin-bottom: 24px;
  }
}

.shelter-popup__pet-characteristics-list {
  margin: 0;
  padding-left: 15px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .shelter-popup__pet-characteristics-list {
    align-self: flex-start;
  }
}

.shelter-popup__pet-characteristics::marker {
  color: #F1CDB3;
  width: 4px;
  height: 4px;
}

.shelter-popup__pet-characteristics {
  color: #000000;
}
