.wrapper__section {
  width: 1200px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .wrapper__section {
    width: 708px;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .wrapper__section {
    width: 300px;
    margin: auto;
  }
}

.cover__section {
  background-image: url('images/noise_transparent@2x.svg'), radial-gradient(100% 215.42% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%, rgb(33, 31, 32));
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .cover__section {
    padding-top: 30px;
  }
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-title {
  margin: 0;
  font-family: 'Gelasio';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--button-background-color);
}

.header__logo-subtitle {
  margin-top: 10px;
  padding-left: 4px;
  font-family: 'Arimo';
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--button-secondary-color);
}

.header__links-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 35px;
  margin: 0;
}

.slogan__content-section {
  height: 728px;
  margin-top: 60px;
  background: url(images/start_screen_puppy.svg) right bottom no-repeat;
}

@media screen and (max-width: 768px) {
  .slogan__content-section {
    height: 1015px;
    background-size: 569px 593px;
  }
}

@media screen and (max-width: 768px) {
  .slogan__content-container {
    padding: 0 124px;
  }
}

.slogan__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  padding-top: 163px;
}

@media screen and (max-width: 768px) {
  .slogan__text-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .slogan-button-adaptive {
    align-self: center;
  }
}

.slogan__header-color {
  color: var(--button-secondary-color);
  margin: 0;
}

.slogan__paragraph-color {
  color: var(--button-disabled-border-color);
  margin: 0;
}

.cozy-house-story__section {
  background: var(--button-secondary-color);
  padding: 80px 0 100px;
}

@media screen and (max-width: 320px) {
  .cozy-house-story__section {
    padding: 42px 0;
  }
}

.cozy-house-story__content-section {
  padding: 0 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cozy-house-story__content-section {
    padding: 0;
    flex-direction: column-reverse;
    gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .cozy-house-story__content-section {
    gap: 42px;
  }
}

.cozy-house-story__pets-image {
  display: block;
}

@media screen and (max-width: 320px) {
  .cozy-house-story__pets-image {
  width: 260px;
  }
}

.cozy-house-story__text-container {
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 320px) {
  .cozy-house-story__text-container {
    width: 300px;
  }
}

.cozy-house-story__margin {
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cozy-house-story__header-adaptive {
    text-align: center;
    font-size: 25px;
  }
}

@media screen and (max-width: 320px) {
  .cozy-house-story__paragraph-adaptive {
    width: 270px;
    margin: auto;
    text-align: justify;
  }
}

.pets__section {
  background: var(--background-section);
  padding: 80px 0 100px;
}

@media screen and (max-width: 320px) {
  .pets__section {
    padding: 42px 0;
  }
}

.pets__content-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 60px;
}

@media screen and (max-width: 320px) {
  .pets__content-container {
    gap: 42px;
  }
}

.pets__header {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .pets__header {
    font-size: 25px;
  }
}

.pets__slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .pets__slider-container {
    row-gap: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 270px;
    justify-content: center;
    column-gap: 80px;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .pets__button-arrow-adaptive {
    order: 1;
  }
}

@media screen and (max-width: 320px) {
  .pets__button-reversed-adaptive {
    order: 2;
  }
}

.pets__animal-container {
  display: flex;
  gap: 90px;
}

@media screen and (max-width: 768px) {
  .pets__animal-container {
    gap: 40px;
    overflow-x: hidden;
    width: 580px;
  }
}

.pets__animal-card {
  width: 270px;
  height: 435px;
  background: var(--active-link-color);
  border-radius: 9px;
  cursor: pointer;
}

.pets__animal-card:hover {
  background: var(--button-secondary-color);
}

.pets__animal-photo {
  display: block;
  border-radius: 9px 9px 0px 0px;
}

.pets__animal-name {
  padding: 30px 0;
  font-family: 'Gelasio';
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
}

.pets__button-card {
  display: block;
  margin: 0 auto 30px;
}

.pets__animal-card:hover .pets__button-card {
  background: var(--button-hover-color);
  border: 2px solid var(--button-hover-color);
}

.pets__button-primary {
  margin: auto;
}

.help__section {
  background: var(--button-secondary-color);
  padding: 80px 0 100px;
}

@media screen and (max-width: 320px) {
  .help__section {
    padding: 42px 0;
  }
}

.help__content-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 60px;
}

@media screen and (max-width: 320px) {
  .help__content-container {
    gap: 42px;
  }
}

.help__header {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .help__header {
    font-size: 25px;
  }
}

.help__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 55px 120px;
}


@media screen and (max-width: 768px) {
  .help__icon-container {
    gap: 55px 60px;
  }
}

@media screen and (max-width: 320px) {
  .help__icon-container  {
    gap: 30px;
    justify-content: space-between;
    text-align: center;
  }
}

.help__icon-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

@media screen and (max-width: 768px) {
  .help__icon-list {
    width: 170px;
  }
}

@media screen and (max-width: 320px) {
  .help__icon-list {
    width: 130px;
    row-gap: 20px;
  }
}

.help__icon-image {
  width: 60px;
}

.help__icon-name {
  margin: 0;
}

@media screen and (max-width: 320px) {
  .help__icon-name {
    font-size: 15px;
  }
}

.donation__section {
  background: var(--background-section);
  padding: 80px 0 100px;
}

@media screen and (max-width: 320px) {
  .donation__section {
    padding: 42px 0;
  }
}

.donation__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .donation__content-container {
    flex-direction: column-reverse;
    gap: 60px;
  }
}

@media screen and (max-width: 320px) {
  .donation__content-container {
    gap: 42px;
  }
}

.donation__image,
.donation__card-number {
  display: block;
}

@media screen and (max-width: 320px) {
  .donation__image {
    width: 260px;
  }
}

@media screen and (max-width: 320px) {
  .donation__card-number {
    width: 281px;
  }
}

.donation__text-container {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 320px) {
  .donation__text-container {
    width: 300px;
  }
}

.donation__header-three,
.donation__header-five {
  margin: 0;
}

@media screen and (max-width: 320px) {
  .donation__header-three {
    font-size: 25px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .donation__header-five {
    align-self: center;
    width: 273px;
    letter-spacing: normal;
  }
}

.donation__card-number-link {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .donation__card-number-link {
    margin: auto;
  }
}

.donation__legal-information {
  margin: 0;
  font-family: 'Arimo';
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: var(--paragraph-s-color);
}

@media screen and (max-width: 320px) {
  .donation__legal-information {
    margin: auto;
    width: 280px;
    text-align: justify;
  }
}

.footer__section {
  padding-top: 40px;
  background-image: url('images/noise_transparent@2x.svg'), radial-gradient(100% 215.42% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%, rgb(33, 31, 32));
}

@media screen and (max-width: 768px) {
  .footer__section {
    padding-top: 30px;
  }
}

.footer__content-container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}

@media screen and (max-width: 768px) {
  .footer__content-container {
    flex-direction: column;
    gap: 65px;
  }
}

@media screen and (max-width: 768px) {
  .footer__wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 34px;
  }
}

.footer__contacts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .footer__contacts-container {
    margin-top: 0;
  }
}

.footer__header {
  margin: 0;
  color: var(--button-secondary-color);
}

.footer__mail-container,
.footer__phone-container,
.footer__boston-container,
.footer__london-container {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.footer__mail-image,
.footer__puppy-image {
  display: block;
}

@media screen and (max-width: 768px) {
  .footer__puppy-image {
    margin: auto;
  }
}

.footer__contact-text {
  margin: 0;
  align-self: center;
  color: var(--button-background-color);
}

.footer__location-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .footer__location-container {
    margin-top: 0;
    gap: 33px;
  }
}
