.wrapper__section {
  width: 1200px;
  margin: auto;
}

.navigation__section {
  background: var(--button-secondary-color);
  padding: 30px 0;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link-logo {
  text-decoration: none;
}

.header__logo-title {
  margin: 0;
  font-family: 'Gelasio';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.header__logo-subtitle {
  margin-top: 10px;
  padding-left: 4px;
  font-family: 'Arimo';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--text-color);
}

.header__links-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 35px;
  margin: 0;
}

.friends__section {
  background: var(--background-section);
  padding: 80px 0 100px;
}

.friends__content-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.friends__header {
  margin: 0;
  text-align: center;
}

.friends__animal-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
  padding: 15px 0;
}

.friends__animal-card {
  width: 270px;
  height: 435px;
  background: var(--active-link-color);
  border-radius: 9px;
  cursor: pointer;
}

.friends__animal-photo {
  display: block;
  border-radius: 9px 9px 0px 0px;
}

.friends__animal-name {
  padding: 30px 0;
  font-family: 'Gelasio';
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.friends__button-card {
  display: block;
  margin: 0 auto 30px;
}

.friends__animal-card:hover .friends__button-card {
  background: var(--button-hover-color);
  border: 2px solid var(--button-hover-color);
}

.friends__buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.friends__button--double-back {
  background: url("image/buttons_icon/button_double-back.svg") no-repeat center;
}

.friends__button--back {
  background: url("image/buttons_icon/button_back.svg") no-repeat center;
}

.friends-button--next {
  background: url("image/buttons_icon/button_next.svg") no-repeat center;
}

.friends-button--double-next {
  background: url("image/buttons_icon/button_double-next.svg") no-repeat center;
}

.footer__section {
  padding-top: 40px;
  background-image: url('image/noise_transparent@2x.svg'), radial-gradient(100% 215.42% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%, rgb(33, 31, 32));
}

.footer__content-container {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}

.footer__contacts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
}

.footer__header {
  margin: 0;
  color: var(--button-secondary-color);
}

.footer__mail-container,
.footer__phone-container,
.footer__boston-container,
.footer__london-container {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.footer__mail-image,
.footer__puppy-image {
  display: block;
}

.footer__contact-text {
  margin: 0;
  align-self: center;
  color: var(--button-background-color);
}

.footer__location-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 16px;
}